export(counterClosure)
export(reAr1Var)
export(reSar1Var)
export(reSarArVar)
export(reZ)
export(reZ1)
export(seGenerator)
export(seSigmaClosure)
export(seSigmaContClosure)
export(simRunContamination)
export(simRunSetup)
export(simSetupMarhuenda)
export(w0Matrix)
export(wMatrix)
exportClasses(simSetup)
